@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom CSS for the Table and Table.Td */
.custom-table {
  border-collapse: collapse; /* Ensure borders don't interfere with spacing */
  width: 100%; /* Make the table fill its container */

  /* Define a consistent column width */
  & .custom-td {
    width: 25%; /* Adjust this value as needed for your desired spacing */
  }

  /* Add styling for the table borders, padding, or other properties */
  /* Example: border: 1px solid #ccc; padding: 8px; */
}
